:css
  .subject{
    float: left;
    width: 60%;
  }
  .add_part{
    float: right;
    width: 35%;
  }
  ul{
    margin: 0; 
    padding: 0; 
    list-style-type: none;
    list-style-image: none; 
  }
  
  li{
    display: inline; 
    margin: 4px;
  }
  
  ul li a {
    text-decoration:none;
    font-weight: bold;
    margin-top: 4px;
    padding: 5px 20px 5px 20px; 
    color: blue;
    background: gray;
  }
  ul li a:hover {
    color: purple;
    background: orange; 
  }
:javascript
  $(document).ready(function(){
    prev_element_id = "#{@blog_entry.parts.first.id}" ;
    $("#"+prev_element_id).hide();    
    $(".part_element").click(function(){
      $("#blog_part").load("/blog_entries/load_part/"+$(this).attr('id'));
      $("#"+$(this).attr('id')).hide();
      $("#"+prev_element_id).show();
      prev_element_id = $(this).attr('id');
  });
  });
%p
  %div.subject
  %h1
    = @blog_entry.subject
  %div.add_part
    %ul
      %li
        = link_to 'Add new part to this blog', :controller=>"blog_entries", :action=>"add_part", :id=>@blog_entry.id
%p
  
  %b Content:
  %br/
  %div#blog_part
    = @blog_entry.parts.first.content
- @blog_entry.comments.each do |comment|
  %hr/
  %br/
  %div.subject
    %b Comment:
  %div.add_part
    %ul
      %li
        %a{:href=>"/blog_entries/delete_comment/#{comment.id}"}
          Delete
  %br/
  = comment.content
  %br/
  %br/
%hr/
= render 'comment_form'
  
%br/
%br/
= link_to 'Back', blog_entries_path
%br/
%br/
%br/
%div
  %ul.parts
    - counter = 0
    -  @blog_entry.parts.each do |part|
    -  counter += 1
      %li.part_element{ :id=>part.id }
        %a{:href=>"#"}	  
          Part #{counter}