!!!
%html
  %head
    %title Sample Blogging App
    = stylesheet_link_tag 'base'
    = stylesheet_link_tag 'style'
    = stylesheet_link_tag 'override'
    = javascript_include_tag 'jquery'
    = javascript_include_tag 'defaults'
    = csrf_meta_tag
  %body
    #container
      #header
        %h1
          %a{:href => "/"} Sample Blogging App
        #user-navigation
          %ul.wat-cf
            %li
              = link_to t("web-app-theme.logout", :default => "Logout"), destroy_user_session_path, :method => :delete 
        #main-navigation
          %ul.wat-cf
      #wrapper.wat-cf
        .flash
          - flash.each do |type, message|
            %div{:class => "message #{type}"}
              %p= message
        #main
          = yield
        #sidebar
          =# render 'blog_entries/list'
